div#gatewayChange {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 7px;
  gap: 7px;
  align-items: start;
  justify-content: center;
  height: max-content;

  @media screen and (max-width: 700px) {
    width: 100%;

    > div {
      width: 100%;
    }
  }
}
