div#fraudError {
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid rgba(78, 205, 196, 0.2);
  padding: 15px 23px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  margin: 0 auto 25px;
  color: white;
  font-size: 15px;
  line-height: calc(18/15);
  max-width: 90%;

  p.error {
    color: white !important;
    margin: 0;
  }

  @media screen and (max-width: 700px) {
    padding: 7px 13px;
  }
}
