@import '../transition.scss';

.utilitie {
  border-radius: 13px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.13);
  background-color: #0a2e2c;
  padding: 27px 29px 26px 23px;
  display: grid;
  align-items: center;
  width: 330px;
  justify-content: space-between;
  grid-template-columns: auto auto;
  cursor: pointer;
  @include transition;

  * {
    cursor: pointer;
  }

  .info {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: auto auto;
  }

  p.title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: calc(24 / 20);
    white-space: nowrap;
    @include transition;
  }

  @media screen and (max-width: 1050px) {
    p.title {
      white-space: unset;
    }
  }
}

.dark-mode {
  .utilitie {
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.22);
    background-color: #0a2e2c;

    p.title {
      color: white;
    }
  }
}
